*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100svh;
    font-weight: bold;
    background-color: #000000;
  padding: 0px;
  margin: 0px;
}

#gradient
{
 width: 100svw;
 height: 100svh;
 padding: 0px;
 margin: 0px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:100svh;
}
button{
    
    color:white;
    cursor: pointer;
    font-size: large;
    border: none;
    background-color: #724cf9;
    padding: 0.3rem;
    border-radius: 0.4rem;
}
.frame{
    width:400px;
    height:400px;
    display:grid;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px) brightness(80%);
    border-radius: 10px;
    padding: 20px;
    
}
.frame div{
    margin:0;
}
.sketchbook{
    color:white;
    font-weight: 900;
}
@media (width<=600px){
    .frame{
        width: 80svw;
        height: 80svw;
        margin-top:5svh;
    }
}
.clr{
    background-color:#724cf9;
    border-radius: 0.2rem;
    height: 2rem;
}